
.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
input {
  background-color: #36383c;
  border: 1px #282a2e groove;
  color: white;
  bottom: 0;
}
select {
  background-color: #36383c;
  border: 1px #282a2e groove;
  color: var(--light-color);
}

*:focus {
  outline: none;
  color: white;
}

#RESTRICTED {
  background-color: red;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

option {
  font-size: 17px;
}

input:focus {
  color: lightgrey;
}

.fre {
  font-size: 16px;
  background-color: var(--light-color);
  font-size: 18px;
  width: 100%
}
